<div class="container-fluid">
  <div class="col-md-4">
    <div class="row well well-lg profile">
      <h3 class="text-center">Profile</h3>
      <br>
      <div>
        <%= gravatar_for @user %>
      </div>
      <br>
      <div>
        <h2 class="text-center"><%= @user.fullname %></h2>
        <p class="text-center"><%= @user.email %></p>
      </div>
      <div>
        <button type="button" class="btn img-center"><%= link_to "EDIT", edit_user_path(params[:id]) %></button>
      </div>
    </div>
    <% @user ||= current_user %>
    <div class="stats">
      <a href="<%= following_user_path(@user) %>">
        <strong id="following" class="stat">
          <%= @user.following.count %>
        </strong>
        following
      </a>
      <a href="<%= followers_user_path(@user) %>">
        <strong id="followers" class="stat">
          <%= @user.followers.count %>
        </strong>
        followers
      </a>
    </div>
    <%= render "follow_form" if logged_in? %>
  </div>
  <div class="col-md-8">
    <h3 class="center"><%= t("page.activity_title", name: @user.fullname) %></h3>
    <table class="table table-striped table-bordered ls-users">
      <thead class="title_table">
        <tr>
          <th><%= t "page.activity" %></th>
          <th><%= t "page.timestamp" %></th>
        </tr>
      </thead>
      <tbody>
        <% @activity.each do |activity| %>
          <%= render "shared/activity", activity: activity,
            locals: {user: @user} %>
        <% end %>
      </tbody>
    </table>
    <div class="pagingnate">
      <%= will_paginate @activity %>
    </div>
  </div>
</div>
