<div class="portlet-body">
  <table class="table table-hover bg-table ls-activities">
    <thead class="title_table">
      <tr>
        <th class="text-c ls-index"><%= t ".index" %></th>
        <th class="text-c ls-category-name"><%= t ".category_name" %></th>
        <th class="text-c ls-create-date"><%= t ".create_date" %></th>
        <th class="text-c ls-result-column"><%= t ".result" %></th>
        <th class="text-c ls-review"><%= t ".review" %></th>
      </tr>
    </thead>
    <tbody>
      <% @lessons.each_with_index do |lesson, index| %>
        <tr>
          <td class="text-c">
            <% params[:page] ||= "1" %>
            <%= index_for params[:page], index, Settings.category.per_word %>
          </td>
          <td class="text-c"><%= lesson.category.title %></td>
          <td class="text-c">
            <%= lesson.created_at.strftime(t"page.time.formats.short_datetime") %>
          </td>
          <td class="text-c"><%= lesson.score %></td>
          <td class="text-c">
            <%= link_to t("page.btn_start"), lesson_path(lesson),
              class: "btn btn-success btn-sm" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate %>
</div>
