<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @word do |f| %>
        <%= render "/shared/error_messages", object: f.object %>
        <%= f.label :Category %>
        <%= f.select :category_id, options_for_select(
            @categories.collect{ |category| [category.title, category.id]},
            class: "form-group") %>
        <%= render "shared/error_messages", object: f.object %>
        <br/>
        <%= f.label :Questions %>
        <%= f.text_field :name, class: "form-control" %>

        <%= f.label :content, "Answer" %><br />
        <div class="answers">
          <%= f.fields_for :answers do |t| %>
              <%= render "answer_field", f: t %>
          <% end %>
          <br/>
        </div>
        <span class="btn btn-primary btn-xs pull-right">
        <%= link_to_add_fields "ADD", f, :answers %>
      </span>
        <br/>
        <br/>

        <%= f.submit "CREATE", id: "create_word",
                     class: "btn btn-primary" %>
    <% end %>
  </div>
</div>